<laitron-shared-dialog
  [title]="data && data.id ? 'settings_module.user_management.user_form.title_edit' : 'settings_module.user_management.user_form.title_create' | translate"
  [subTitle]="'settings_module.user_management.user_form.user_description' | translate" [actionButtons]="actionButtons">
  <form [formGroup]="userForm" class="body">
    <div class="section">
      <div [class.disabled]="userForm.controls.username.disabled">
        <laitron-input-form-field formControlName="username" [color]="inputColor.PRIMARY11" [withLabel]="true"
                                  placeholderIcon="person"
                                  placeholdertext="{{'settings_module.user_management.user_form.username' | translate}}"
                                  [showValidationError]="true"
                                  [autocomplete]="'new-password'">
        </laitron-input-form-field>
      </div>
      <div [class.disabled]="userForm.controls.password.disabled">
        <laitron-input-form-field formControlName="password" [color]="inputColor.PRIMARY11" [withLabel]="true"
                                  [isPassword]="true" placeholderIcon="password"
                                  [showValidationError]="true"
                                  placeholdertext="{{'settings_module.user_management.user_form.password' | translate}}"
                                  [autocomplete]="'new-password'">
        </laitron-input-form-field>
      </div>
    </div>
    <div class="section">
      <div [class.disabled]="userForm.controls.roles.disabled">
        <laitron-dropdown formControlName="roles" [color]="inputColor.PRIMARY11" [withLabel]="true"
                          [dropdownOptions]="roleOptions"
                          [fieldLabel]="'settings_module.user_management.user_form.roles' | translate"
                          placeholderIcon="manage_accounts"
                          placeholdertext="{{'settings_module.user_management.user_form.select' | translate}}"
                          [isMultiple]="true"
                          [textSize]="textSize.SMALL">
        </laitron-dropdown>
      </div>
      <div class="checkbox_field" [class.disabled]="userForm.controls.enabled.disabled">
        <mat-checkbox color="primary" formControlName="enabled">Enabled</mat-checkbox>
      </div>
    </div>
  </form>
</laitron-shared-dialog>
