<div class="section_box" [ngClass]="{'with-border': withBorder}">
  <div class="header">
    <div class="title">
      <span class="title_label">
        {{ title | translate }}
      </span>
      <span *ngIf="!descriptionWithHtml" class="title_desc">
        {{ description | translate }}
      </span>
      <div *ngIf="descriptionWithHtml" [innerHTML]="descriptionWithHtml"></div>
    </div>
    <div  class="action" *ngIf="button">
        <ecommerce-button
          *ngFor="let button of button"
          [buttonText]="button.label | translate"
          [color]="button.color"
          [shape]="button.shape"
          [mode]="button.mode"
          [buttonIcon]="button.icon"
          [iconDirection]="button.iconDirection"
          (buttonClick)="button.action && button.action(0)"
          class="action_btn"
        ></ecommerce-button>
    </div>
  </div>
  <div class="content">
    <ng-content></ng-content>
  </div>

</div>
