<ecommerce-shared-dialog
  [title]="'settings_module.profile_info.profile_info' | translate"
  [actionButtons]="actionButtons">
  <div class="body">
    <form [formGroup]="profileForm" class="form">
      <ng-container *ngIf="profileForm.get('firstName')">
        <ecommerce-input-form-field
          formControlName="firstName"
          placeholdertext="{{'settings_module.profile_info.first_name' | translate}}"
          [color]="inputColor.PRIMARY11"
          [mode]="inputMode.LIGHT"
          [showValidationError]="true"
          [withLabel]="true">
        </ecommerce-input-form-field>
      </ng-container>
      <ng-container *ngIf="profileForm.get('lastName')">
        <ecommerce-input-form-field
          formControlName="lastName"
          placeholdertext="{{'settings_module.profile_info.last_name' | translate}}"
          [color]="inputColor.PRIMARY11"
          [mode]="inputMode.LIGHT"
          [showValidationError]="true"
          [withLabel]="true">
        </ecommerce-input-form-field>
      </ng-container>
      <ng-container *ngIf="profileForm.get('email')">
        <ecommerce-input-form-field
          formControlName="email"
          placeholdertext="{{'settings_module.profile_info.email' | translate}}"
          [color]="inputColor.PRIMARY11"
          [mode]="inputMode.LIGHT"
          placeholderIcon="email"
          [showValidationError]="true"
          [withLabel]="true">
        </ecommerce-input-form-field>
      </ng-container>
    </form>
  </div>
</ecommerce-shared-dialog>
