<div class="list_wrapper">
  <ecommerce-section-box [withBorder]="false">
    <div class="header">
      <p class="title">
        {{ 'settings_module.user_management.all_users' | translate }}
        <span class="count">{{ count }}</span>
      </p>
      <form [formGroup]="searchForm" class="right_section">
        <ecommerce-input-form-field
          formControlName="search"
          placeholdertext="{{'general.search' | translate}}"
          [color]="inputColor.PRIMARY13"
          [prefix]="'search'">
        </ecommerce-input-form-field>
        <ecommerce-button
          [buttonText]="'settings_module.user_management.add_user' | translate"
          [color]="inputColor.PRIMARY11" [shape]="inputShape.PRIMARY" [mode]="inputMode.LIGHT"
          (buttonClick)="addUser()"
          [buttonIcon]="'add_circle_outline'"
          iconDirection="left"
          class="add_btn"
        ></ecommerce-button>
      </form>
    </div>
    <div>
      <list-data-table [data]="dataTableData" [columnsDefinition]="dataTableColumnsDefinition"
                       [paginatorConfig]="paginatorConfig" (clickAction)="actionClicked($event)"
                       (clickToggle)="clickToggle($event)"
                       (more)="onPage($event)">
      </list-data-table>
    </div>
  </ecommerce-section-box>
</div>
