<div class="list_wrapper">
  <laitron-section-box [withBorder]="false">
    <div class="header">
      <p class="title">
        {{ 'configuration_module.product_management.all_products' | translate }}
        <span class="count">{{ count }}</span>
      </p>
      <form [formGroup]="searchForm" class="right_section">
        <laitron-input-form-field
          formControlName="search"
          placeholdertext="{{'general.search' | translate}}"
          [color]="inputColor.PRIMARY13"
          [prefix]="'search'">
        </laitron-input-form-field>
        <laitron-button
          [buttonText]="'configuration_module.product_management.add_product' | translate"
          [color]="inputColor.PRIMARY11" [shape]="inputShape.PRIMARY" [mode]="inputMode.LIGHT"
          (buttonClick)="addProduct()"
          [buttonIcon]="'add_circle_outline'"
          iconDirection="left"
          class="add_btn"
        ></laitron-button>
        <laitron-button
          [buttonText]="'configuration_module.product_management.view_low_stock' | translate"
          [color]="inputColor.PRIMARY11" [shape]="inputShape.PRIMARY" [mode]="inputMode.LIGHT"
          (buttonClick)="onViewLowStockProducts()"
          [buttonIcon]="'view_list'"
          iconDirection="left"
          class="add_btn"
        ></laitron-button>
      </form>
    </div>
    <div>
      <list-data-table [data]="dataTableData" [columnsDefinition]="dataTableColumnsDefinition"
                       [paginatorConfig]="paginatorConfig" (clickAction)="actionClicked($event)"
                       (clickToggle)="clickToggle($event)"
                       (more)="onPage($event)">
      </list-data-table>
    </div>
  </laitron-section-box>
</div>
